version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8080:80"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/var/www/html

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
